h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-dark);
}
.main-section-b {
  padding: var(--section-padding) 0 var(--section-padding);
}
.main-section {
  padding: var(--section-padding) 0 calc(var(--section-padding) + 10px);
}

body .container {
  /* max-width: 1300px; */
  position: relative;
  /* --bs-gutter-x: 1.5rem; */
  /* --bs-gutter-y: 0; */
  margin-left: auto;
  margin-right: auto;
  /* padding-left: calc(var(--bs-gutter-x)*.5) !important; */
  /* padding-right: calc(var(--bs-gutter-x)*.5) !important; */
  width: 100%;
  padding: 0 120px;
  /* border: 1px solid red; */
}

@media (max-width: 1400px) {
  body .container {
    padding: 0 100px;
  }
}

@media (max-width: 1200px) {
  body .container {
    padding: 0 80px;
  }

  .main-section-b {
    padding: calc(var(--section-padding) - 10px) 0
      calc(var(--section-padding) - 10px);
  }
  .main-section {
    padding: calc(var(--section-padding) - 10px) 0 var(--section-padding);
  }
}

@media (max-width: 992px) {
  body .container {
    padding: 0 60px;
  }

  .main-section-b {
    padding: calc(var(--section-padding) - 20px) 0
      calc(var(--section-padding) - 20px);
  }
  .main-section {
    padding: calc(var(--section-padding) - 20px) 0
      calc(var(--section-padding) + 10px);
  }
}

@media (max-width: 768px) {
  body .container {
    padding: 0 40px;
  }

  .main-section-b {
    padding: calc(var(--section-padding) - 30px) 0
      calc(var(--section-padding) - 30px);
  }
  .main-section {
    padding: calc(var(--section-padding) - 30px) 0
      calc(var(--section-padding) + 20px);
  }
}

@media (max-width: 576px) {
  body .container {
    padding: 0 20px;
  }

  .main-section-b {
    padding: calc(var(--section-padding) - 40px) 0
      calc(var(--section-padding) - 40px);
  }
  .main-section {
    padding: calc(var(--section-padding) - 40px) 0
      calc(var(--section-padding) + 30px);
  }
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-responsive {
  display: flex;
}

.flex-responsive-reverse {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

@media (max-width: 768px) {
  .gap-10 {
    gap: 5px;
  }

  .gap-20 {
    gap: 10px;
  }

  .gap-30 {
    gap: 20px;
  }

  .gap-40 {
    gap: 30px;
  }

  .gap-50 {
    gap: 40px;
  }
}

.w-full {
  width: 100%;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.grid-span2 {
  grid-column: span 2;
}

.grid-row-span2 {
  grid-row: span 2;
}

@media (max-width: 576px) {
  .grid-span2 {
    grid-column: span 1;
  }
}

@media (max-width: 992px) {
  .flex-responsive {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .flex-responsive-reverse {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .flex-responsive,
  .flex-responsive-reverse {
    gap: 30px;
  }
}

.show-laptop {
  display: none;
}

/* .hide {
    display: none;
}

.show {
    display: block;
} */

@media (max-width: 992px) {
  .hide-laptop {
    display: none;
  }

  .show-laptop {
    display: block;
  }
}
